.about-container {
    margin: 1rem 2rem;
    text-align: start;
  }

  .mid-section h1{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: 800;
  }

  
  .about-container h1 {
    padding-bottom: .5rem;
  }
  .about-container p {
    padding-bottom: 1rem;
  }
  @media screen and (max-width: 850px) {
    .about-container {
      margin: 4rem 2rem;
    }
  }
  